<div id="abonnement_header">

	<div class="label">
		<%= image_tag "abonnement/mes-abonnement.png" %>
	</div>

</div>

<script>
	$("#abonnement_header").slimBG("<%= asset_path ('abonnement/abonnement.jpg') %>");	
</script>
