#article-show {
	width: 1100px;
	height: 100%;

	margin: 0 auto;

	padding-top: 50px;

	text-align: center;

	.article {
		width: 700px;

		display: inline-block;
		vertical-align: top;

		text-align: left;
 		
 		.photo {
 			img {
 				width: 680px;
 				height: auto;
 			}
 		}

 		.title {
 			font-size: 28px;

 			margin-top: 5px;
 			margin-bottom: 5px;
 		}

 		.content {
 			padding: 0px;
 			margin: 0px;

			font-family: 'Arvo', serif;
			font-size: 18px;
			font-weight: 100;

 		}

	}

	.sidebar {
		width: 300px;

		display: inline-block;
		vertical-align: top;

		text-align: left;

		.author {
			img {
				width: 75px;
				height: 75px;

				border-radius: 50%;
			}
		}

		.name {
			font-size: 38px;
			font-family: "base";
			white-space: 2px;
			letter-spacing: 2px;
		}

		.about-user {
			width: 200px;

			font-family: 'Arvo', serif;
			font-size: 18px;

		}

		.published {
			font-size: 24px;
			font-family: "base";
			white-space: 0px;
			letter-spacing: 0px;
			font-weight: bold;
			text-transform: uppercase;

			margin-top: 15px;

		}

		.date {
			font-family: 'Kotta One', serif;

		}

	}

	.title {
		margin-top: 20px;
		margin-bottom: 10px;

		font-size: 80px;
		line-height: 60px;
	   	font-family: 'IM Fell English SC', serif;
	}

	.photo {
		img {
			width: 870px;
			height: auto;
		}
	}

	.content {
		margin-top: 15px;
		margin-bottom: 20px;
		padding-left: 10px;

		font-family: 'Roboto';
		font-weight: 100;
		font-size: 24px;
		line-height: 32px;
	}
}

#article-show-left-bar {
	width: 30%;
	min-width: 400px;

	margin-left: 10px;

	display: inline-block;
	vertical-align: top;




	#credibility {
		position: relative;
		border-radius: 5px;

		z-index: 10;

		width: 400px;
		height: 330px;

		margin-top: 10px;

		background-color: #9c4274;

		#preview {
			margin-top: 20px;
			padding-top: 20px;

			canvas {
				z-index: -10;
			}
		}

		#preview-textfield {
			width: 100px;
			height: 60px;

			font-weight: bold;
			font-size: 40px;
			font-family: "base";
			color: rgba(255, 255, 255, 0.6);

			position: absolute;
			left: 150px;
			top: 140px;
		}

		.vote {
			position: absolute;
			top: 200px;
			left: 25px;

			width: 350px;

		}

	}

	#list-publishing-journals {
		position: relative;
		border-radius: 5px;

		width: 400px;

		text-align: left;

		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;

		background-color: #1AA1B8;

		.journal {
			margin-bottom: 10px;

			.picture {

				img {
					width: 75px;
					height: 75px;
				}

				display: inline-block;
			}

			.title {
				margin-left: 10px;
				height: 75px;
				display: inline-block;
				vertical-align: middle;

				color: rgba(255, 255, 255, 0.7);
				line-height: 75px;
				font-size: 25px;
				font-weight: 500;

				a {
					color: rgba(255, 255, 255, 0.7);
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}