@import "config";

#article-show {
	width: 1100px;

	margin: 0 auto;

	padding-top: 50px;
	padding-bottom: 50px;

	padding-left: 70px;

	text-align: center;

 	.title {
 		font-size: 28px;

 		margin-top: 5px;
 		margin-bottom: 25px;
 		padding-left: 45px;
 		padding-bottom: 10px;

 		text-align: left;
 	}

	.article {
		position: relative;

		width: 700px;

		display: inline-block;
		vertical-align: top;

		text-align: left;
 		
 		.photo {
 			// img {
 			// 	width: 680px;
 			// 	height: auto;
 			// }
 		}

 		.content {
 			padding: 0px;
 			margin: 0px;
 			margin-top: 10px;

			font-family: $content;
			font-size: 22px;
			line-height: 30px;

 		}

 		.interact {
 			position: absolute;
 			top: 0px;
 			left: -150px;

 			width: 150px;

 			padding-right: 10px;

 			text-align: right;

 			.credibility {
 				font-family: $italic;
 				font-size: 50px;
 			}

 			.credit-label {
 				font-family: $italic;
 				font-size: 30px;
 				line-height: 10px;

 				padding-right: 5px;
 			}

 		}

	}

	.sidebar {
		width: 300px;

		display: inline-block;
		vertical-align: top;

		text-align: left;

		.author {
			img {
				width: 75px;
				height: 75px;
			}
		}

		.name {
			font-size: 38px;
			font-family: $subtitle;
			white-space: 2px;
			letter-spacing: 2px;

			a {
				&:hover {
					text-decoration: none;
				}
			}
		}

		.follow {

			.follow {
				margin-bottom: 10px;

				a {
					color: #FFF;
					font-family: "Roboto-R";
					text-transform: uppercase;

					background-color: #4C78DE;
					padding: 10px;
					border-radius: 3px;	

					&:hover {
						text-decoration: none;
					}				
				} 

			}

			.unfollow {
				margin-bottom: 10px;

				a {
					color: #FFF;
					font-family: "Roboto-R";
					text-transform: uppercase;

					background-color: #CD2D24;
					padding: 10px;
					border-radius: 3px;	

					&:hover {
						text-decoration: none;
					}				
				} 

			}
		}

		.about-user {
			width: 200px;

			font-family: $italic;
			font-size: 20px;
			text-align: left;

		}

		.published {
			font-size: 24px;
			font-family: $subtitle;
			white-space: 0px;
			letter-spacing: 0px;
			font-weight: bold;
			text-transform: uppercase;

			margin-top: 15px;

		}

		.date {
			font-family: $italic;

		}

	}

	.title {
		margin-top: 20px;
		margin-bottom: 10px;

		font-size: 80px;
		line-height: 60px;
	   	font-family: $heading;
	}



	.content {
		margin-top: 15px;
		margin-bottom: 20px;
		padding-left: 10px;

		font-family: $content;
		font-weight: 100;
		font-size: 24px;
		line-height: 32px;
	}

	.social-share {
		width: 100%;

		text-align: right;

		img {
			width: 50px;
			height: auto;
		}
	}

	.tags {
		margin-top: 10px;

		font-weight: bold;

		a {
			color: #57ad68;
			font-weight: normal;
			font-family: Verdana;
			font-size: 14px;

			margin: 5px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.fb-comments {
		margin-top: 20px;
	}
}

#article-show-left-bar {
	width: 30%;
	min-width: 400px;

	margin-left: 10px;

	display: inline-block;
	vertical-align: top;




	#credibility {
		position: relative;
		border-radius: 5px;

		z-index: 10;

		width: 400px;
		height: 330px;

		margin-top: 10px;

		background-color: #9c4274;

		#preview {
			margin-top: 20px;
			padding-top: 20px;

			canvas {
				z-index: -10;
			}
		}

		#preview-textfield {
			width: 100px;
			height: 60px;

			font-weight: bold;
			font-size: 40px;
			font-family: $subtitle;
			color: rgba(255, 255, 255, 0.6);

			position: absolute;
			left: 150px;
			top: 140px;
		}

		.vote {
			position: absolute;
			top: 200px;
			left: 25px;

			width: 350px;

		}

	}

	#list-publishing-journals {
		position: relative;
		border-radius: 5px;

		width: 400px;

		text-align: left;

		margin-top: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;

		background-color: #1AA1B8;

		.journal {
			margin-bottom: 10px;

			.picture {

				img {
					width: 75px;
					height: 75px;
				}

				display: inline-block;
			}

			.title {
				margin-left: 10px;
				height: 75px;
				display: inline-block;
				vertical-align: middle;

				color: rgba(255, 255, 255, 0.7);
				line-height: 75px;
				font-size: 25px;
				font-weight: 500;

				a {
					color: rgba(255, 255, 255, 0.7);
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}