<div id="add-article-to-journal-button" style="margin-top: 10px;">
	
	<a data-toggle="modal" href="#add-article-to-ajax" class="btn btn-default btn-lg" width="400px;">
	  <span class="glyphicon glyphicon-plus"></span> Ajouter a mon journal
	</a>

</div>