<div class="social-share">
	<a href="#" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;"><%= image_tag "icons/grey_fb.png" %></a>
	<a href="https://twitter.com/share" target="blank"><%= image_tag "icons/grey_tw.png" %></a>
</div>

<% if @article.tag_list.count > 0 %>
<div class="tags">
	Les termes à souligner :
	<% @article.tag_list.each do |tag| %>
		<%= link_to tag, "" %>
	<% end %>
</div>
<% end %>