<div class="journals-box">
	<div class="label">
		Journaux edités <span><%= Journal.where('user_id = ?', @user.id).count %></span>
	</div>

	<% Journal.where('user_id = ?', @user.id).each do |journal| %>

		<div class="journal journal-<%= journal.id %>">
			
			<div class="titre">
				<%= Journal.find(journal).name %>
			</div>

			<div class="content">
				<%= Journal.find(journal).description %>
			</div>

		</div>
	<% end %>


</div>