<div class="journals-box">
	<div class="label">
		Journaux edités <span><%= Journal.where('user_id = ?', @user.id).count %></span>
	</div>

	<% Journal.where('user_id = ?', @user.id).each do |journal| %>
		<%= link_to journal.name, journal %>
	<% end %>


</div>