<div class="top-ten-articles-box">

	<div class="label">
		Top 10 des articles publié
	</div>


	<% ArticlesAndPage.where("user_id = ?", @user.id).order('number_of_article_repush DESC').first(1).each do |article| %>

		<div class="article article-<%= article.id %>">
			
			<div class="titre">
				<%= Article.find(article).title %>
			</div>

			<div class="content">
				<%= truncate(Article.find(article).content, length: 140) %>
			</div>

		</div>

	</br>
	<% end %>


</div>