<h1>Listing administrations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @administrations.each do |administration| %>
  <tr>
    <td><%= link_to 'Show', administration %></td>
    <td><%= link_to 'Edit', edit_administration_path(administration) %></td>
    <td><%= link_to 'Destroy', administration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Administration', new_administration_path %>
