@import "config";

#publications {

	padding-top: 50px;

	.publication-box {
		margin-bottom: 20px;
		padding-bottom: 20px;

		border-bottom: 1px solid #ddd;

		.title-block {
			font-family: $heading;
			font-size: 45px;

			a {
				color: #000;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.cover {
			margin-top: 10px;
			margin-bottom: 10px;
			img {
				width: 930px;
				height: 400px;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				filter: grayscale(100%);

				&:hover {
					filter: grayscale(0%);
					-webkit-filter: grayscale(0%);
					-moz-filter: grayscale(0%);
					filter: grayscale(0%);
				}
			}
		}

		.quote-content {
			width: 930px;

			margin-top: 10px;
			margin-bottom: 10px;

			font-family: $content;
			font-size: 18px;
		}




			.belt {
				min-width: 800px;

				border-bottom: 1px solid #ccc;

				padding-bottom: 15px;

				border-top: 1px solid #ccc;

				padding-top: 15px;

				margin-top: 15px;

				.favorite {
					width: 48%;

					display: inline-block;
					vertical-align: top;

					.toggle_link {
						background-color: #47A055;

						padding: 10px;
						margin-right: 10px;

						border-radius: 3px;

						color: #fff;
						font-family: "Roboto";

						&:hover {
							text-decoration: none;
						}
					}

					.avatar_link {
						background-color: transparent;
						padding: 0px;
					}

					img {
						height: 36px;
						width: 36px;

						border-radius: 50%;
					}
				}

				.interacts {
					width: 48%;

					text-align: right;

					display: inline-block;
					vertical-align: top;

					// float: right;

					font-size: 26px;

					a {
						color: #ccc;

						&:hover {
							color: #A4A4A2;
						}
					}
				}
			}

			.data {
				text-align: right;
				color: #A4A4A2;
				font-family: $italic;

				margin-top: 10px;

				a {
					color: #000;
					text-decoration: underline;
				}
			}
	}
}
