#publications {

	padding-top: 50px;

	.publication-box {
		margin-bottom: 20px;

		.title-block {
			font-family: 'IM Fell English SC', serif;
			font-size: 45px;

			a {
				color: #000;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.cover {
			margin-top: 10px;
			margin-bottom: 10px;
			img {
				width: 930px;
				height: 400px;
			}
		}

		.quote-content {
			width: 930px;

			margin-top: 10px;
			margin-bottom: 10px;

			font-family: 'Arvo', serif;
			font-size: 18px;
		}
	}
}
