#user-cover-profile {
	// position: absolute;
	// top: 0px;
	// left: 0px;

	width: 100%;
	height: 300px;

	background-image: url("https://lh6.googleusercontent.com/-8b6AhxYBnUo/UYFKr4QOkYI/AAAAAAAABio/EiPd7r81c40/w1600-h900/default_cover_8_14d0436d687b1b22589bbc67e793e75e.jpg");

	box-shadow: inset 0 -100px 100px rgba(0, 0, 0, 0.7);

	.user-block {
		width: 900px;
		height: 150px;

		margin: 0 auto;
		padding-top: 100px;

		color: #fff;
		font-family: "Roboto";

		.avatar {
			width: 150px;

			padding-top: 20px;

			display: inline-block;

			img {
				width: 120px;
				height: auto;

				border-radius: 50%;
			}
		}

		.user-data {
			width: 600px;

			display: inline-block;
			line-height: 38px;
			vertical-align: bottom;

			text-align: left;

			padding-top: 20px;

			.name {
				color: #FFF;
				font-size: 38px;
				font-family: "Roboto";
				font-weight: 700;
				text-shadow: 0 1px 0 rgba(0,0,0,0.7);
				line-height: 45px;
			}

			.job {
				line-height: 20px;
			}

			.follows {
				line-height: 20px;
			}
		}
	}
}

#profile-container {
	margin-top: 10px;

	.main-profile {
		width: 700px;

		display: inline-block;
		vertical-align: top;

	}

	.profile-sidebar {
		width: 450px;

		display: inline-block;
		vertical-align: top;

		.follow-box {
			width: 100%;

			padding: 10px;
			margin-bottom: 10px;

			border: 1px solid #eee;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

			background-color: #F3F3F3;
			border-radius: 3px;

			.label {
				width: 100%;
				text-align: left;

				float: left;

				font-family: "Roboto";
				font-size: 20px;
				line-height: 40px;
				color: #000;

				span {
					float: right;
				}
			}

			.list {
				.avatar {
					width: 70px;

					margin: 5px;

					display: inline-block;
					vertical-align: top;

					img {
						width: 70px;
						height: 70px;

						border-radius: 50%;
					}
				}
			}
		}

		.credibility-box {
			width: 100%;
			height: 240px;
			
			margin-bottom: 10px;
			padding: 10px;

			border: 1px solid #840A38;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

			background-color: #840A38;
			border-radius: 3px;

			color: #fff;
			font-family: "Roboto";
			font-size: 24px;

			.label {
				width: 100%;
				text-align: left;

				float: left;

				font-family: "Roboto";
				font-size: 20px;
				line-height: 40px;
				color: rgba(255, 255, 255, 0.7);

					span {
						float: right;
					}
			}
		}

		.journals-box {
			width: 100%;
			
			margin-bottom: 10px;
			padding: 10px;

			border: 1px solid #55A435;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

			background-color: #55A435;
			border-radius: 3px;

			color: #fff;
			font-family: "Roboto";
			font-size: 24px;

			.label {
				width: 100%;
				text-align: left;

				float: left;

				font-family: "Roboto";
				font-size: 20px;
				line-height: 40px;
				color: rgba(255, 255, 255, 0.7);

					span {
						float: right;
					}
			}
		}
	}
}



#user_show_left {
	position: fixed;
	top: 90px;
	left: 0px;

	width: 300px;
	height: 100%;

	border-right: 1px solid #ccc;

	background-color: rgba(255, 255, 255, 0.4);

	#personal_pack {

		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;

		#avatar {
			margin-top: 10px;

			img {
				width: 280px;
				height: 280px;
			}
		}

		#name_and_username {
			padding-left: 10px;

			text-align: left;
			font-weight: bold;
			font-size: 22px;
			text-transform: uppercase;
		}

		#about {
			margin-top: 10px;
			padding-left: 10px;
			padding-right: 10px;

			text-align: left;
			font-size: 16px;
			font-weight: 100;
			line-height: 18px;
		}

		#location {
			margin-top: 20px;
			padding-left: 8px;
			padding-right: 10px;

			text-align: left;
			font-weight: 100;
			line-height: 18px;
		}
	}

	#user_stats {
		text-align: left;

		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 8px;

		#articles, #journals, #followers {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			color: rgba(0, 0, 0, 0.8);

			.number {
				color: #20A3D5;
			}
		}


	}

}

#user_show_listing {
	padding-left: 290px;
	margin-top: -10px;

	height: 100%;

	text-align: left;

	#articles, #issues, #activity, #publishers {
		position: relative;
		width: 32%;
		min-width: 300px;
		height: 650px;
		overflow-y: scroll;

		padding-top: 50px;

		display: inline-block;
		vertical-align: top;
		text-align: center;

		background-color: #FAFAFA;

		.column-title {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;

			padding: 8px;

			border-radius: 5px 0px 0px 0px;
			background-color: #E54E2E;

			font-weight: bold;
			font-family: "lino";
			font-size: 18px;
			text-transform: uppercase;
			color: #fff;
			text-shadow: 0 -1px black;
			letter-spacing: 2px;
		}
	}

	#articles {
		margin: 0px;
		padding: 0px;
		padding-top: 40px;

		text-align: left;

		#article_container {
			padding-bottom: 10px;
			padding-left: 5px;
			box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.4);

			#avatar {
				margin: 10px 0px 0px 0px;
				padding: 0px;
				width: 60px;
				display: inline-block;

				img {
					width: 60px;
					height: 60px;

				}
			}

			#article {
				margin: 8px 0px 0px 0px;
				max-width: 260px;
				display: inline-block;
				vertical-align: top;

				.title {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 18px;
					line-height: 19px;

					margin-bottom: 5px;
				}
			}

		}


	}

	#issues {
		margin: 0px;
		padding: 0px;
		padding-top: 40px;

		text-align: left;

		#issue {
			margin: 0px 0px 0px 0px;
			padding-bottom: 10px;
			padding-top: 10px;
			padding-left: 5px;

			box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.4);
			#cover {
				width: 80px;

				display: inline-block;

				img {
					width: 80px;
					height: 100px;
				}
			}

			#data {
				display: inline-block;
				vertical-align: top;

				.issue_theme {
					text-transform: uppercase;
					font-weight: bold;

					.normal {
						color: #000;
					}
				}
			}
		}
	}
}