#abonnement_header {
	width: 100%;
	height: 360px;

	padding-top: 120px;

	text-align: center;
	vertical-align: middle;

	.label {
		width: 492px;
		height: 135px;

		margin: 0 auto;
		padding-top: 200px;
		vertical-align: middle;
	}


}

#abonnement_container {
	margin: 0px;
	padding: 0px;
	
	#abonnement_journal {
		position: relative;

		width: 300px;
		height: 400px;

		background-repeat: no-repeat;

		border-radius: 5px;

		margin-left: 1px;
		margin-top: 1px;
		margin-right: -3px;

		display: inline-block;

		.unread {
			position: absolute;
			right: 0;
			bottom: 0;

			z-index: 10000;

			height: 60px;
			width: 60px;

			background-image: url(image-path("unread.png"));
			background-color: #EC5744;
			background-repeat: no-repeat;
		}

		.title {
			position: absolute;
			top: 20px;
			left: 0;
			padding: 10px;

			background-color: rgba(255, 255, 255, 0.6);

			font-family: "lino";

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					color: #000;
				}
			}
		}
	}

}
