@import "config";

#home-logged-of {
	.register {
		width: 100%;

		.header {
			font-family: $heading;
			font-size: 38px;
		}

		.label {
 			font-family: $italic;
 			font-size: 20px;
 			color: #000;

 			padding-left: 0px;
 			padding-top: 20px;

		}

		.input {
			margin-bottom: 20px;

			input {
				width: 400px;
			}

		}

		.avatar {
			display: inline-block;
			vertical-align: top;

			width: 300px;

			text-align: center;

			input {
				display: none;
			}

			.legend {
				font-family: $italic;
			}

		}

		.background {
			display: inline-block;
			vertical-align: top;

			width: 300px;

			text-align: center;

			input {
				display: none;
			}

			.legend {
				font-family: $italic;
			}

		}

		.about {
			margin-top: 20px;
			margin-bottom: 20px;

			width: 600px;
			height: 400px;

			outline: none;

			font-family: $content;

		}



		.actions {
			position: absolute;
			top: 10px;
			right: 10px;

			input {
				background-color: rgba(68, 150, 80, 0.7);

				padding: 10px;

				border-radius: 3px;
				border: 0px;

				color: #FFF;
				font-family: "Roboto";
			}
		}

	}
}