<!DOCTYPE html>
<html>
<head>
  <title>Dowritit &bull; The Social Journal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>

	<%= yield %>

</body>
</html>
